version: '3.8'

services:
  sds-node:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - SDS_VERSION=${SDS_VERSION:-main}
        - UID=${SDS_UID:-2048}
        - GID=${SDS_GID:-2048}
    image: sds
    container_name: sds-node
    ports:
      - "${NETWORK_PORT:-18081}:${NETWORK_PORT:-18081}"
    volumes:
      - ./sds-data:/sds
      - ${ARCHIVE_DIR}:/archive:ro
      - ./monitor-and-upload.sh:/usr/local/bin/monitor-and-upload.sh:ro
    env_file:
      - .env

